Repository Multiverse/Multiverse-Inventories, pull requests merged in 2021-07, with the labels that each got.

#346 [SECURITY] Use HTTPS to resolve dependencies in Maven Build
  pom.xml
Labels: PR: Dependencies, State: Needs Review By Dev

#461 Update VaultAPI and Associated Repo
  pom.xml
Labels: PR: Bugfix, PR: Dependencies, Resolution: Accepted

#462 Fix Tests on Java 16
  pom.xml
  src/test/java/com/onarandombox/multiverseinventories/FlatFileDataHelper.java
  src/test/java/com/onarandombox/multiverseinventories/TestCommands.java
  src/test/java/com/onarandombox/multiverseinventories/TestPerformance.java
  src/test/java/com/onarandombox/multiverseinventories/TestPlayerNameChange.java
  src/test/java/com/onarandombox/multiverseinventories/TestResetWorld.java
  src/test/java/com/onarandombox/multiverseinventories/TestWSharableAPI.java
  src/test/java/com/onarandombox/multiverseinventories/TestWorldChanged.java
  src/test/java/com/onarandombox/multiverseinventories/util/MockItemMeta.java
  src/test/java/com/onarandombox/multiverseinventories/util/MockPlayerFactory.java
  src/test/java/com/onarandombox/multiverseinventories/util/MockPlayerInventory.java
  src/test/java/com/onarandombox/multiverseinventories/util/MockWorldFactory.java
  src/test/java/com/onarandombox/multiverseinventories/util/TestInstanceCreator.java
  src/test/java/com/onarandombox/multiverseinventories/util/Util.java
  src/test/java/com/onarandombox/multiverseinventories/util/WorldCreatorMatcher.java
  src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: PR: Bugfix, Resolution: Accepted
