Repository Multiverse/Multiverse-Inventories, pull requests merged in 2023-08, with the labels that each got.

#528 Update README.md
  LICENSE.md
  README.md
Labels: no version bump

#531 Revamp actions
  .github/labeler.yml
  .github/workflows/call.github_release.yml
  .github/workflows/call.platform_uploads.yml
  .github/workflows/dispatch.platform_uploads.yml
  .github/workflows/dispatch.promote_release.yml
  .github/workflows/main.prerelease.yml
  .github/workflows/pr.require_label.yml
  .github/workflows/pr.test.yml
  .github/workflows/pr_labeler.yml
  .github/workflows/promote_release.yml
  .github/workflows/release.yml
Labels: release:patch

#532 Switch to manual only prereleases on Hangar.
  .github/workflows/main.prerelease.yml
Labels: no release

#533 feat: Add core as required dependency
  .github/workflows/call.platform_uploads.yml
Labels: release:patch

#534 Add other mv related dependencies
  .github/workflows/call.platform_uploads.yml
Labels: release:patch

#536 ci: Use generic workflow for test
  .github/workflows/pr.test.yml
Labels: no release

#535 Add Hangar README.md badge
  README.md
Labels: no release

#537 Update hangar plugin deps bcu they changed the API
  .github/workflows/call.platform_uploads.yml
Labels: no release
